<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="icon" href="{{url_for('static', filename='images/logo_nows.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/create_notice.css')}}">
    <title>Nows!</title>

</head>

<body>
    <div class="navbar-fixed">
        <nav>               
            <a href="{{url_for('index')}}">
                <img src="{{url_for('static', filename='images/logo_nows.png')}}" alt="logo hide-on-med-and-down">
            </a>
            <ul class="right hide-on-med-and-down">                    
                {% if user %}
                    <li>{{user.name}}</li>
                    {% if user.writer %}
                        <li><a href="{{url_for('notice_bp.store')}}">Escrever Post</a></li>
                    {% endif %}
                        <li><a href="{{url_for('user_bp.logout')}}">Logout</a></li>
                {% else %}
                    <li><a href="{{url_for('login')}}">Entrar</a></li>
                {% endif %}
            </ul>            
        </nav>
    </div>
    <div class="form-group">
        <form class="col s12 form" action="{{url_for('notice_bp.store')}}" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Título" id="title" name="title" type="text" class="validate">
                    <label for="title">Título</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="subtitle" type="text" name="subtitle" class="validate" placeholder="Subtitulo">
                    <label for="subtitle">Subtitulo</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="image" type="text" name="image" class="validate" placeholder="Link da Imagem de Capa">
                    <label for="image">Link da Imagem de Capa</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="text" type="text" name="text" class="validate" placeholder="Texto">
                    <label for="text">Texto</label>
                </div>                
            <div class="row">
                <input class="btn waves-effect waves-light" type="submit" value="Criar">            
            </div>        

        </div>
    </form>    
    </div>

</body>
</html>