<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/index.css')}}">
    <link rel="icon" href="{{url_for('static', filename='images/logo_nows.png')}}">
    <title>Nows!</title>

</head>

<body>
    <div class="navbar-fixed">
        <nav>               
            <a href="{{url_for('index')}}" class="icone">
                <img src="{{url_for('static', filename='images/logo_nows.png')}}" alt="logo hide-on-med-and-down">
            </a>
            <ul class="right hide-on-med-and-down">                    
                {% if object.user %}
                    <li>{{object.user.name}}</li>
                    {% if object.user.writer %}
                        <li><a href="{{url_for('notice_bp.store')}}">Escrever Post</a></li>
                    {% endif %}
                        <li><a href="{{url_for('user_bp.logout')}}">Logout</a></li>
                {% else %}
                    <li><a href="{{url_for('login')}}">Entrar</a></li>
                {% endif %}
            </ul>            
        </nav>
    </div>

    <div class="noticias">
        {% for notice in object.notices %}            
            <div class="card">
                <div class="card-image">
                    <img src="{{notice.image}}">
                </div>
                <div class="card-content">
                    <span class="card-title">{{notice.title}}</span>
                    <p>{{notice.subtitle}}</p>
                    <p>{{notice.date}}</p>
                </div>
                <div class="card-action">
                    <a href="{{url_for('notice_bp.show', notice_id=notice.id)}}">Read</a>
                </div>
            </div>            
        {% endfor %}
    </div>

</body>
</html>