<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/show_notice.css')}}">
    <title>Nows!</title>

</head>

<body>
    <div class="navbar-fixed">
        <nav>               
            <a href="{{url_for('index')}}">
                <img src="{{url_for('static', filename='images/logo_nows.png')}}" alt="logo hide-on-med-and-down">
            </a>
            <ul class="right hide-on-med-and-down">                    
                {% if object.user %}
                    <li>{{object.user.name}}</li>
                    {% if object.user.writer %}
                        <li><a href="{{url_for('notice_bp.store')}}">Escrever Post</a></li>
                    {% endif %}
                        <li><a href="{{url_for('user_bp.logout')}}">Logout</a></li>
                {% else %}
                    <li><a href="{{url_for('login')}}">Entrar</a></li>
                {% endif %}
            </ul>            
        </nav>
    </div>

    <main>
        <h1>{{object.notice.title}}</h1>
        <span>{{object.notice.user}}</span>
        <img src="{{object.notice.image}}" alt="imagem de capa">
        <h5>{{object.notice.subtitle}}</h5>
        <div class="text">
            <p>
                {{object.notice.text}}
            </p>
        </div>
    </main>

</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{url_for('static', filename='javascript/carousel.js')}}" type="module"></script>

</html>